/*
1. Fonts and Body
2. Navbar
3. Welcome
4. Divisor

*/

/* 1. FONTS AND BODY -------------------------------------------------------------------------------- */

@font-face {
  font-family: Lexend;
  src: url(../assets/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: Lexend-Thin;
  src: url(../assets/font/Lexend-Thin.ttf);
}

body {
  font-family: Lexend-Thin !important;
  color: aliceblue;
  background-color: #303030;
  margin: 0;
}
/* 2. NAVBAR --------------------------------------------------------------------------------------- */
.navbar {
  background: #303030;
  font-family: Lexend;
}
.navbar > ul{
  list-style-type: none;
  display: inline;
}
.navbar > ul > li{
  font-size: 25px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;

}
/* 3. WELCOME --------------------------------------------------------------------------------------- */
.inicio {
  padding-top: 15%;
  padding-bottom: 25%;
  background: #303030 url("../assets/images/dwarf-star.jpg") no-repeat top fixed;
  background-size: cover;
}

.welcome {
  margin-left: 40%;
  background-color: #202020c1;
  border-radius: 25px;
  padding: 1px 10px 10px 10px;
  transition: ease-in-out 150ms;
}

.welcome:hover {
  transition: ease-in-out 150ms;
  transform: scale(1.015);
  background-color: #252525d7;
  box-shadow: 0 0 10px 5px #303030;
  text-shadow: 1px 1px 7px aliceblue;
}
.welcome > h1 {
  font-size: 70px;
  font-family: Lexend;
}
.welcome > div.sobre {
  font-family: Lexend-Thin;
  font-size: 22px;
}
.welcome > div.sobre > p > a {
  text-decoration: solid;
  color: aliceblue;
}
/* 4. DIVISOR ------------------------------------------------------------------------------------- */
.divisor {
  background-color: #c2c2c2;
  box-shadow: 0 0 38px 49px #c2c2c2;
}
